*{
    margin:0;
    padding:1rem;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: none;
    border: none;
    outline: none;
    font-family: "poppins", sans-serif;
}
h1{
    color: #b74b4b;
    text-align: center;
    margin-top: 5rem;
    
}

body{
    background-color: black;
    width:100%;
    height: 100vh;
    overflow-x: hidden;
    color: white;
}
html, body{
    font-size: 120%;
    color: white;

}

header{
    margin-top: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgba(0, 0, 0, 83%);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
}
.logo{
    font-size: 3rem;
    color: #b74b4b;
    cursor: pointer;
    font-weight: 800;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
    color: #b74b4b;
}
nav a{
    font-size: 1.8rem;
    color: white;
    
    
}

nav a:hover,
nav a.active{
    transition: 0.3s ease;
    color: #b74b4b;
    transform: scale(1.1);
}
section{
    position:relative;
    padding: 1rem 5%;
    color: white;
    
}
section h2:hover,
    h2{
    transition: 0.3s ease;
    color: #b74b4b;
}
ul{
    padding: 3rem 8%;
}
.li{
    color: white;
}
h2{
    display: inline;
    color: white;
}
h2:hover{
    color: #b74b4b;
}
p
{
    color: white;
}
