*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: none;
    border: none;
    outline: none;
    font-family: "poppins", sans-serif;
}
html{
    font-size: 120%;
}

body{
    width:100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;

}

header{
    margin-top: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: solid rgba(0,0,00.1);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;

}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}
h1{
    font-weight: 800;
    transition: 0.3s;
    padding-top: 5rem;
    text-align: center;
}
section{
    padding: 3rem ;
    margin-top: 0rem;
}
h1:hover{
    color: #b74b4b;
}


.photo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 400 px;
    height: 400px;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}